<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44094895978-llbnc9riee4rfkeaeoj63rg6jpdqd6gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44094895978-llbnc9riee4rfkeaeoj63rg6jpdqd6gn</string>
	<key>API_KEY</key>
	<string>AIzaSyBz_AJQM3TtYjYXMyK5gsDipBqVy6Tj5r0</string>
	<key>GCM_SENDER_ID</key>
	<string>44094895978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.Yummie</string>
	<key>PROJECT_ID</key>
	<string>yummieemailpaogin</string>
	<key>STORAGE_BUCKET</key>
	<string>yummieemailpaogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44094895978:ios:08f96934c020c3446ad713</string>
</dict>
</plist>